<input type="file" (change)="handleFileInput($event)">

<table id="table" mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)"  #empTbSort="matSort">
  <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{column}} </th>
    <td  contenteditable="editeMode" mat-cell  *matCellDef="let element" (dblclick)="edit(element)">
        {{element[i]}}      
      <ng-template #editPlace>
        <input [(ngModel)]="element[i].value" (blur)="update(element, i); " >
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table> 


<button (click)="addRow()">Add Row</button>
<div></div>
<button (click)="deleteRow()">Delete Row</button>
<div></div>
<button (click)="addColumn()">Add Column</button>
<div></div>
<button (click)="save()">Save</button>


